* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/netflix-nx-2048x1152.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.btn-voltar i{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.login-box{
    width: 320px;
    height: 670px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    margin-top: 55px;
    /*top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);*/
    box-sizing: border-box;
    padding: 45px 30px;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.login-box input[type="text"], input[type="password"], input[type="tel"], input[type="date"], input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #39dc79;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #1c8adb;
    color: #fff;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover{
    color: #39dc79;
}














